.input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;

  cursor: pointer;

  &__input {
    display: none;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media screen and (max-width: 775px) {
  .input-file {
    &__text {
      flex: 0;
      text-align: center;
    }
  }
}

@include  mobile {
  .input-file {
    &__text {
      flex: inherit;
    }
  }
}
