@import "variables";

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content
  }
}

@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content
  }
}

@mixin text-lvl($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: lato, sans-serif;
  font-weight: 400;
}

@mixin text-lvl-1 {
  @include text-lvl(48px, 57px);

  @include tablet {
    @include text-lvl(32px, 40px);
  }

  @include mobile {
    @include text-lvl(24px, 32px);
  }
}

@mixin text-lvl-2 {
  @include text-lvl(28px, 32px);

  @include tablet {
    @include text-lvl(20px, 24px)
  }

  @include mobile {
    @include text-lvl(16px, 20px)
  }
}

@mixin text-lvl-3 {
  @include text-lvl(20px, 24px);
}

@mixin text-lvl-4 {
  @include text-lvl(18px, 22px);
}

@mixin text-lvl-5 {
  @include text-lvl(16px, 20px);
}

@mixin text-lvl-6 {
  @include text-lvl(13px, 16px);
}

@mixin button($width, $color, $bgcolor) {
  @include text-lvl-6;

  width: $width;
  padding: 15px 10px;
  box-sizing: border-box;

  text-transform: uppercase;
  color: $color;
  text-align: center;

  border: 1px solid $color;
  border-radius: 4px;
  background: $bgcolor;

  cursor: pointer;
  transition: $transition-out;
  opacity: 1;

  &:hover,
  .is-active {
    transition: $transition-out;
    opacity: 0.7;
  }
}
