$white: #ffffff;
$blue: #43ABF0;
$blue2: #42A9ED;
$sky: #3E9CDC;
$black: #000000;
$gray: #272733;
$gray2: #bbbbbb;
$gray3: #3D4050;
$gray4: #c3c3c3;
$see-wave: #286690;
$transition-in: all ease-in 300ms;
$transition-out: all ease-out 300ms;
